<div class="mine-htm">
    <h3 style="color: orange;">账单事件查询</h3>
    <h4 style="color: #BABABA;">本页面回显所有eventPush的请求</h4>
    <div class="mine-content">
        <div class="mine-query">
            <span class="mine-query-group">
                <label class="mine-query-lable">推送类型</label>
                <span class="mine-query-span">
                     <select class="form-control input-sm" ng-model="inboundQuery.apiSource" ng-init="inboundQuery.apiSource='0'">
                         <option value="0">全部</option>
                         <option value="1">订单事件</option>
                         <option value="2">运输单事件</option>
                         <option value="3">账单事件</option>
                         <option value="4">确认货差事件</option>
                     </select>
                </span>
            </span>
            <span class="mine-query-group">
                <label class="mine-query-lable">推送内容</label>
                <span class="mine-query-span">
                   <input type="text" class="form-control input-sm" ng-model="inboundQuery.payload"/>
                </span>
            </span>
            <span class="mine-query-group">
                <label class="mine-query-lable">推送时间</label>
                <span class="mine-query-span">
                     <mine-date ng-model="inboundQuery.createdOnBegin"></mine-date>
                </span>
            </span>
            <span class="mine-query-group">
                <label class="mine-query-lable">至</label>
                <span class="mine-query-span">
                    <mine-date ng-model="inboundQuery.createdOnEnd"></mine-date>
                </span>
            </span>
            &nbsp;&nbsp;<button class="btn btn-sm btn-primary" type="button" ng-click="query()">查询</button>
        </div>
        <div class="gridStyle" ng-grid="gridOptions"></div>
    </div>
</div>